
{% extends 'journal/navbar.html' %} 


{% block content %}
<br>
<div class = 'container bg-white shadow-md p-5 form-layout'>

    <h3>Delete a thought</h3>

    <p> Are you sure that you want to delete this thought? </p>

    <br>
    <form method="POST" autocomplete="off">

        {% csrf_token %}



        <button class = "btn btn-outline-danger btn-md w-100 btn-block p-3" onclick="myFunction()" type="submit"> Delete </button>



    </form>
    <br>
    <a class = "btn btn-outline-primary btn-md w-100 btn-block p-3" href="{% url 'my-thought' %}"> Return to thoughts </a>
   

</div>

<br>
<script>
    function myFunction() {
      alert("I am an alert box!");
    }
    </script>
{% endblock %}
