
{% extends 'journal/navbar.html' %} 

<h3>My thoughts</h3>

{% block content %}
<br>

{% for thought in AllThoughts %}
<div class = 'container bg-white shadow-md p-5 form-layout'>

    <h3>{{thought.title}}</h3> 
    <br>
    <p>{{thought.content}}</p>
    
    <br>
    <p>{{thought.date_posted}}</p>
    

    <br>
    <hr>
    

    <br>

    <a class="btn btn-outline-primary btn-md w-100 btn-block p-3" href="{% url 'update-thought' thought.id %}"> Update </a>
    <br>
    <br>
    <a class="btn btn-outline-danger btn-md w-100 btn-block p-3" href="{% url 'delete-thought' thought.id %}"> Delete </a>

</div>
<br>
{% endfor %}

   
{% endblock %}
