{% load static %}
<html>

<head>

    <link rel="stylesheet" type = "text/css" href="{% static 'css/styles.css' %}">


</head>

<h1> Website under dev</h1>
<hr>

<a href="{% url '' %}"> Home </form></a>

&nbsp;

<a href="{% url 'create-task' %}"> Create a task </form></a>

&nbsp;

<a href="{% url 'view-tasks' %}"> View tasks </form></a>

&nbsp;

<a href="{% url 'register' %}"> Register </form></a>


<hr>

{% block content %}


{% endblock %}

<script src="{% static 'js/app.js' %}"></script>

</html>